$primary_color: #03a9f4;
$grey-1: #212121;
$grey-2: #626262;

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
.topbar {
  &_container {
    width: 100%;
    background-color: $primary_color;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 2px;
    color: #fff;
    position: fixed;
    z-index: 100;
    top: 0;
  }
  &_title {
    margin-left: 10px;
  }
  &_searchbar {
    background-color: #fff;
    color: $grey-1;
    display: flex;
    align-items: center;
    width: 40%;
    border-radius: 6px;
    overflow: hidden;
    height: 30px;
    @media screen and (max-width: 700px) {
      display: none;
    }
    svg {
      margin-left: 10px;
    }
    input {
      flex: 1;
      border: none;
      height: 25px;
      color: $grey-1;
      font-size: 15px;
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
  &_icons {
    display: flex;
    .icon {
      margin: 0 8px;
      cursor: pointer;
    }
  }
  &_links {
    display: flex;
    @media screen and (max-width: 700px) {
      display: none;
    }
    .link {
      cursor: pointer;
      margin: 0 8px;
    }
  }
  &_profile {
    margin-right: 10px;
    cursor: pointer;
  }
}

.homeContainer {
  display: flex;
  width: 100%;
  margin-top: 50px;
  padding: 0;
  overflow: hidden;
  @media screen and (max-width: 700px) {
    .sidebar {
      transform: translateX(-100%);
      position: fixed;
      z-index: 1000;
    }
  }
}
.feed {
  flex: 5.5;
  padding: 20px;
  height: calc(100vh - 50px);
  overflow: hidden;
  overflow-y: scroll;
  @media screen and (max-width: 700px) {
    order: 2;
    
  }
  &::-webkit-scrollbar {
    display: none;
  }
  .share {
    .shareWrapper {
      .shareTop {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 8px;
        padding: 10px 20px;
        overflow: hidden;
        margin-bottom: 40px;
        &_input {
          display: flex;
          margin: 20px 0;
          align-items: center;
          textarea {
            border: none;
            font-size: 15px;
            outline: none;
            flex: 1;
            margin-left: 15px;
            resize: none;
            @media screen and (max-width: 700px) {
              font-size: 10px;
            }
          }
        }
        .postImage {
          width: 100%;
          border-radius: 4px;
          margin-bottom: 20px;
        }
        hr {
          margin: 0 20px;
          border-color: rgb(243, 243, 243);
          margin-bottom: 20px;
        }
        &_actions {
          display: flex;
          justify-content: space-between;
          margin-bottom: 50px;
          .actions {
            display: flex;
            list-style: none;
            padding: 0 10px;
            li {
              display: flex;
              cursor: pointer;
              margin-right: 30px;
              align-items: center;
              @media screen and (max-width: 700px) {
                margin-right: 15px;
                svg {
                  width: 20px;
                }
              }
              p {
                margin-left: 10px;
                @media screen and (max-width: 700px) {
                  display: none;
                }
              }
            }
          }
          .shareBtn {
            border-radius: 5px;
            background-color: green;
            padding: 6px 16px;
            color: #fff;
            outline: none;
            border: none;
            cursor: pointer;
            @media screen and (max-width: 700px) {
              padding: 6px 12px;
            }
          }
        }
      }
      .shareBottom {
        .postWrapper {
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
            0 3px 6px rgba(0, 0, 0, 0.23);
          border-radius: 8px;
          padding: 10px 20px;
          margin-bottom: 35px;
          overflow: hidden;
          @media screen and (max-width: 700px) {
            padding: 8px 10px;
          }
          .header {
            display: flex;
            justify-content: space-between;
            padding: 5px 10px;
            @media screen and (max-width: 700px) {
              padding: 3px 5px;
            }
            .col {
              display: flex;
              align-items: center;
              .profilepic_container,
              .post_options {
                cursor: pointer;
              }
              .name {
                margin-left: 12px;
                font-size: 18px;
                font-weight: 500;
                color: $grey-1;
                @media screen and (max-width: 700px) {
                  margin-left: 8px;
                }
              }
              .time {
                margin-left: 10px;
                color: $grey-2;
                font-size: 12px;
                align-self: top;
                @media screen and (max-width: 700px) {
                  margin-left: 2px;
                }
              }
            }
          }
          .postText {
            margin: 14px 0;
            color: $grey-1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            @media screen and (max-width: 700px) {
              p {
                font-size: 10px;
              }
            }
          }
          .media {
            width: 100%;
            height: auto;
            overflow: hidden;
            img,
            video {
              border-radius: 4px;
              width: 100%;
            }
          }
          .footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 15px 0;
            .actions {
              display: flex;
              align-items: center;
              cursor: pointer;
              .likeBtn {
                color: $primary_color;
                cursor: pointer;
              }
              .likes {
                margin-left: 10px;
                font-size: 12px;
                color: $grey-2;
              }
            }
            .comments {
              cursor: pointer;
              text-decoration: underline;
              font-size: 12px;
              color: $grey-2;
            }
          }
        }
      }
    }
  }
}
.sidebar {
  flex: 2;
  height: calc(100vh - 50px);
  background-color: #fff;
  overflow-y: scroll;
  position: inherit;
  .sidebarWrapper {
    padding: 20px;
    .sidebar_list {
      list-style: none;
      padding: 0;
      hr {
        margin-bottom: 15px;
      }
      li {
        display: flex;
        color: $grey-2;
        align-items: center;
        margin-bottom: 30px;
        cursor: pointer;
        p {
          margin-left: 10px;
        }
      }
      .showmore {
        border-radius: 3px;
        border: none;
        cursor: pointer;
        padding: 10px 35px;
        color: $grey-2;
      }
    }
    .suggetionHeading {
      color: $grey-2;
      margin-bottom: 20px;
    }
  }

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(201, 201, 201);
  }
}

.rightbar {
  flex: 3.5;
  padding: 15px;
  overflow: hidden;
  overflow-y: scroll;
  height: calc(100vh - 50px);
  &::-webkit-scrollbar {
    display: none;
  }
  @media screen and (max-width: 700px) {
   display: none;
  }
  .birthdayWrapper {
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
      height: 50px;
      @media screen and (max-width: 700px) {
        margin-right: 5px;
      }
    }
    p {
      flex: 1;
      text-wrap: wrap;
      @media screen and (max-width: 700px) {
        font-size: 12px;
      }
    }
  }
  .adWrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 30px 0;
    img {
      width: 100%;
      border-radius: 5px;
    }
  }
  .friendsWrapper {
    h3 {
      margin-bottom: 15px;
      @media screen and (max-width: 700px) {
        font-size: 12px;
      }
    }
    .list {
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      p {
        margin-left: 15px;
        @media screen and (max-width: 700px) {
          font-size: 10px;
          margin-left: 10px;
        }
      }
    }
  }
}

.userInfoWrapper {
  flex: 3.5;
  padding: 15px;
  height: calc(100vh - 50px);
  &::-webkit-scrollbar {
    display: none;
  }
}

.profileContainer {
  display: flex;
  padding: 0;
  margin-top: 50px;
  .sidebar {
    position: fixed;
    width: 250px;
  }
   @media screen and (max-width: 700px) {
    margin-top: 0px;
    .sidebar {
      transform: translateX(-100%);
      position: fixed;
      z-index: 1000;
    }
  }
  .profile_right {
    margin-left: 250px;
    width: 100%;
    justify-content: end;
    height: calc(100vh - 50px);
     @media screen and (max-width: 700px) {
       margin-left: 0;
     }
    .rightbar,
    .feed {
      overflow: visible;
      height: auto;
    }
    .profileHeader {
      width: 100%;
      height: 200px;
      background-size: cover;
      position: relative;
      margin-bottom: 100px;
      background-position: 0 -210px;
      background-repeat: no-repeat;
      .bg-img {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
          width: 100%;
          position: absolute;
          top: -200px;
        }
      }
      .content {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(50%);
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .dp {
          width: 120px;
          height: 120px;
          overflow: hidden;
          border-radius: 300px;
          border-width: 6px;
          border-color: #fff;
          border-style: solid;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .share {
      display: flex;
      margin-bottom: 200px;
      @media screen and (max-width: 700px) {
        flex-direction: column;
      }
    }
  }
}
.userInfoWrapper {
  padding-right: 50px;
  @media screen and (max-width: 700px) {
    order: 1;
  }
  .basic {
    background-color: rgb(246, 246, 246);
    padding: 20px;
    border-radius: 4px;
    width: 100%;
    h3 {
      color: $grey-1;
      margin-bottom: 20px;
    }
    .row {
      display: flex;
      align-items: baseline;
      color: $grey-2;
      margin-bottom: 15px;
      h4 {
        width: 100px;
      }
      p {
        margin-left: 40px;
      }
    }
  }
  .friends {
    width: 100%;
    margin-top: 40px;
    background-color: rgb(246, 246, 246);
    padding: 20px;
    border-radius: 4px;
    h3 {
      color: $grey-1;
      margin-bottom: 5px;
    }
    .friends_list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .friendsContainer {
        margin: 15px 0;
        margin-right: 15px;
        width: 100px;
        overflow: hidden;
        cursor: pointer;
        .photo {
          overflow: hidden;
          width: 100px;
          height: 100px;
          border-radius: 5px;
          img {
            width: 100%;
          }
        }
        .name {
          margin-top: 8px;
          font-size: 12px;
          color: $grey-2;
          text-align: center;
        }
      }

      p {
        color: $grey-2;
        font-size: 12px;
      }
    }
  }
}

.main_modal {
  width: 600px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: rgba(255, 255, 255);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: none;
  outline: none;
  overflow: hidden;
  @media screen and (max-width: 700px) {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    transform: translate(0, 50%);
    
  }
  .heading {
    color: #fff;
    margin-bottom: 20px;
    background-color: $primary_color;
    padding: 12px 16px;
    font-weight: 500;
    font-size: 20px;
  }
  .form {
    padding: 12px 16px;
    .row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      .input {
        width: 45%;
        margin-bottom: 15px;
      }
      .urlInput {
        width: 80%;
      }
      textarea {
        width: 100%;
        height: 80px;
        padding: 8px;
        border: none;
        border-bottom: 1px solid $grey-2;
        font-size: 16px;
        color: $grey-1;
        outline: none;
      }
    }
    .dropdown {
      margin-bottom: 15px;
    }
  }
  button {
    margin-bottom: 20px;
    align-self: flex-end;
  }
}

.loginWrapper {
  width: 100%;
  height: 100vh;
  background-color: rgb(241, 241, 241);
  padding: 10px;
  .loginbox {
    width: 70%;
    display: flex;
    margin-left: 50%;
    margin-top: 40vh;
    transform: translate(-50%, -50%);
    @media (max-width: 700px) {
      width: 90%;
      flex-direction: column;
      margin-top: 10vh;
      transform: translate(-50%, 0%);
    }
    .errorMessage {
      color: red;
      font-size: 14px;
      margin-top: 10px;
    }
    .col {
      flex: 1;
      padding: 20px;
    }
    .welcome {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        color: $primary_color;
        margin-bottom: 15px;
      }
    }
  }
}
.formWrapper {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-bottom: 40px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  input {
    outline: 1px solid $grey-2;
    border: none;
    border-radius: 3px;
    background-color: #fff;
    margin: 8px 0;
    height: 40px;
    padding: 0 8px;
    font-size: 18px;
    color: $grey-2;
  }
  button {
    margin-top: 20px;
  }
}

.loaderWrapper {
  background-color: #0000004c;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tools {
  width: 100%;
  margin-top: 40px;
  background-color: rgb(246, 246, 246);
  padding: 20px;
  border-radius: 4px;
  .row {
    display: flex;
    color: $grey-1;
    align-items: center;
    cursor: pointer;
    div {
      margin-left: 20px;
    }
  }
}

.profileFollow {
  margin-bottom: 20px;
}

.post-option-wrapper {
  width: 500px;
  height: auto;
  border-radius: 10px;
  background-color: #fff;
  backdrop-filter: blur(5px);
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 30vh;
  .post-option {
    text-align: center;
    padding: 15px 0;
    font-weight: 500;
    transition: background-color 0.3s ease;
    cursor: pointer;
    color: $grey-2;
    border-bottom: 1px solid #cfcfcf;
    &:last-child {
      border: none;
    }
    &:hover {
      background-color: #f1f1f1;
    }
  }
}
.mediaContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 40px;
  .content {
    flex: 1;
    cursor: pointer;
    img,
    video {
      height: 400px;
    }
  }
}
.mediaModal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 50%;
  height: 100vh;
  transform: translateX(-50%);
  background-color: transparent;
  &:focus {
    outline: none;
  }
  .content {
    height: 100%;
    img,
    video {
      height: 100%;
      object-fit: cover;
    }
  }
}
